{% extends 'base.html' %}
{% block content %}

<h1>Thali - Must Eats</h1>

<h2>All Dishes</h2>
<p>There are {{all_dishes|length}} dishes in our data.</p>
<p>Any of your favorites that we are missing?</p>
<form action="/new_dish" method="post">
    <input type="submit" value="Add New Dish">
</form>
{% for dish in all_dishes %}
<div class="all-dish">
    <div class="all-dish-info">
        <a href="/dish/{{ dish.id }}">{{ dish.name }} </a>
        <p> {{ dish.city }} </p>
        <p> Rating: {{ dish.rating }} stars</p>
    </div>
    <a href="/dish/{{ dish.id }}"><img src="{{ dish.photo_url }}" alt="{{ dish.name }}" width="100px" height="50px"></a>
</div>
{% endfor %}

{% endblock %}