{% extends 'base.html' %}
{% block content %}

<h1>City - {{ city.name }}</h1>

<p><img src="{{ city.photo_url }}" width="250px" height="250px"></p>

<p>
    <strong>State: </strong> {{ city.state }}
</p>

<p>
    <strong>Region: </strong> {{ city.region }}
</p>

<p>
    <strong>Country: </strong> {{ city.country }}
</p>

<p>
    <strong> About: </strong> {{ city.short_desc }}
</p>

<p>
    <strong>Created By: </strong> {{ city.created_by }}
</p>

<h2>Dishes</h2>

<div class="dishes">
    {% for dish in city.dishes %}
    <div class="dish-details">
        <a href="/dish/{{ dish.id }}"><img src="{{ dish.photo_url }}" alt="{{ dish.name }}" width="200px"></a>
        <a href="/dish/{{ dish.id }}">{{ dish.name }}</a>
    </div>
    {% endfor %}
</div>

<br></br>
<form method="post" action="/city/{{ city.id }}/edit">
    <input type="submit" value="Edit the City">
</form>
{% endblock %}