{% extends 'base.html' %}
{% block content %}

<h2>Edit Dish</h2>

<form method="POST" action="{{ url_for('main.dish_edit', dish_id=dish.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name }}
        <ul>
            {% for error in form.name.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.short_desc.label }}
        {{ form.short_desc(class="short-desc-field") }}

        <ul>
            {% for error in form.short_desc.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.category.label }}
        {{ form.category }}
        
        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {{ form.city.label }}
        {{ form.city }}

        {{ form.where_to_eat.label }}
        {{ form.where_to_eat }}

        <ul>
            {% for error in form.where_to_eat.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>
{% endblock %}
