{% extends 'base.html' %}
{% block content %}

<h1>Dish - {{ dish.name }}</h1>
<form action="/add_to_favorites_list/{{ dish.id }}" method="post">
    <input type="submit" value="Add to list">
</form>
<form action="/dish/{{ dish.id }}/rate" method="post">
    <input type="submit" value="Rate the Dish">
</form>
<p><img src="{{ dish.photo_url }}" width="250px" height="250px"></p>

<p><strong>Short Description: </strong> {{ dish.short_desc }}</p>

<p>Rating: {{ dish.rating }}</p>

<p><strong>Category: </strong> {{ dish.category }}</p>

<p><strong>City: </strong> {{ dish.city }} </p>

<form action="/dish/{{ dish.id }}/edit" method="post">
    <input type="submit" value="Edit the Dish">
</form>

<p>Created By: {{ dish.created_by }}</p>

{% endblock %}