{% extends 'base.html' %}
{% block content %}

<h1>Food Bucket List</h1>
    {% for dish in favorites_list %}
        <div class="favorites-list">
            <p>{{ loop.index }}. <a href="/dish/{{ dish.id }}">{{ dish.name }}</a></p>

            <p>{{ dish.city  }}</p>

            <a href="/dish/{{ dish.id }}"><img src="{{ dish.photo_url }}" width="125px" height="125px"></a>

            <p><strong>Description: </strong>{{ dish.short_desc}}</p>

            <p>Where to Eat: {{ where_to_eat }}</p>

            <form action="/remove_from_favorites_list/{{ dish.id }}" method="post">
                <input type="submit" value="Remove dish"/>
            </form>
            
        </div>
    {% endfor %}
{% endblock %}