{% extends 'base.html' %}
{% block content %}
<div class="about">
    <p>Thali - Must Eats is an app designed to provide a platform for food enthusiasts to share their favorite dishes from different cities in India. Users can create an account and add their must-eat dishes and favorite cities to the database. The app offers a comprehensive list of dishes available in each city along with details like where to eat recommendations, dish rating, a short summary, and the diet it belongs to. Users can also edit the dish or city info and add the dishes to their Food Bucket List. The app is perfect for travelers who want to explore the culinary landscape of India and for foodies who are passionate about discovering new dishes and sharing their experiences with others.</p>
</div>

<h2>Cities</h2>

{% for city in all_cities %}
<div class="all-city">
    <div class="all-city-info">
        <a href="/city/{{ city.id }}">{{ city.name }}</a> - 
        {{ city.dishes|length }} dishes
        <p><strong>State: </strong> {{ city.state }}</p>
        <p><strong>Country: </strong> {{ city.country }}</p>
    </div>
    <a href="/city/{{ city.id }}"><img src="{{ city.photo_url }}" alt="{{ city.name }}" width="200px" height="150px"></a>
</div>
{% endfor %}

{% endblock %}