{% extends "base.html" %}

{% block content %}
  <h1>Rate {{ dish.name }}</h1>
  <form method="POST" action="{{ url_for('main.rate_dish', dish_id=dish.id) }}">
    {{ form.csrf_token }}
    <fieldset>
      <legend>Please enter your rating here:</legend>
        <p>Rating</p>
        {{ form.stars }}
        
        <ul>
          {% for error in form.stars.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

        {{ form.submit }}

    </fieldset>
  </form>

{% endblock %}