
#content {
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(163, 163, 165, 0.73)),
    url("/static/img/background.jpeg");
    background-color: #cccccc;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("/static/img/background.jpeg");
    background-color: #cccccc;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 100%;
    background-color: rgb(237, 238, 241);
    /* padding: 20px; */
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: navy;
    text-decoration: none;
    border: 1px solid black;
    padding: 0 5px;
    font-size: 1.2em;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit] {
    width: 100px;
    align-self: flex-end;
    background-color:black;
    border-radius: 1em;
    color:white;
    font-size: 500;
    padding: 1.7 rem;
}

div.city {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

div.dishes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.dish-details {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 300px;
}